
<div class="login" background="static/house.jpg">
    <link href="{{ url_for('static', filename='css/login.css') }} " rel="stylesheet">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container" action="/auth" method="POST" >
      <p><input type="text" placeholder="Username" name="username" ></p>
      <p><input type="password" placeholder="Password" name="password" ></p>
      <p><input type="submit" value="Log in"></p>
      {% if error %}
      <p>{{ error }}</p>
        {% endif %}

    </form>
  </div>